<div{{ attributes.addClass('jumpstart-ui--one-column', settings.centered, settings.extra_classes) }}>
    <section {{ region_attributes.main.addClass('main-region') }}>
      {{ content.main }}
    </section>
</div>

