<div{{ attributes.addClass('jumpstart-ui--one-column', settings.centered, settings.extra_classes) }}>
    <div {{ region_attributes.main.addClass('main-region') }}>
      {{ content.main }}
    </div>
</div>
