{#
/**
 * @file
 * Molive - Template for a 4 column panel layout.
 *
 * This template provides a four column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 * attributes - html attributes for the template wrapper tag
 * fluid_items - A list or repeating set of items.
 * per_row - Configurable set of items per row
 */
#}
{% set per_row = content.per_row|render|striptags|trim|number_format %}
{% set attributes = attributes.addClass('layout layout-fluid--four-max') %}
<div{{ attributes }} data-cols="{{ per_row|default(2) }}">
  {{ content.fluid_items }}
</div>
