<details{{ attributes.addClass('jumpstart-accordion') }}>
  <summary>
      <div class="accordion__title">
        {{ title }}
      </div>
  </summary>
  <div class="contents">
    {{ contents }}
  </div>
</details>
